* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  padding-left: 10px;
    padding-right: 10px;
}
.card {
  justify-content: center;
  display: flex;
  
}

.card input {
  width: 13rem;
  padding: 1px;
}
/*colocando o h1 lado a lado */
h1 {
  width: 25%;
  min-width: 200px;
  display: wrap-content;
  vertical-align: top;
  border: 2px solid #333;
  margin: 0px;
  padding: 0px;
  position: relative;
  padding-left: 10;
  flex-direction: column;
  text-align: center;
}
.info {
  display: flex;
  display: wrap-content;
}
.input {
  margin-left: 2px;
  display: flex;
  flex-direction: column;
}
.Create-Pet {
  
  display: flex;
  border: 2px solid #333;
  padding:  1px 1px 1px 2px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;

 
 
}

.Create-Pet button{
    width: 13rem;
    padding: 2px;
    border-radius: 2px;
    border:none;
    margin-top: 20px;

}
div{
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 5px;
    
}