* {

  
  font-family: sans-serif;
  justify-content: center;
  flex-wrap: wrap;
  color:#333;
  border-radius: 2%;
}

.card {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card-group{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
}
.List-Pet{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
}

.card input {
  width: 13rem;
  padding: 1px;
}
/*colocando o h1 lado a lado */
h1 {
  width: 1%;
  min-width: 200px;
  display: flex;
  border: 2px solid #333;
  
  flex-direction: column;
  
}
.info {
  display: flex;
  gap:15px;
  
}
.input {
  margin-left: 2px;
  display: flex;
  flex-direction: column;
}
.Create-Pet {
  
  display: flex;
  border: 2px solid #333;
  padding:2px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2px;
  border-radius: 2%;
 

 
 
}

.Create-Pet button{
    width: 10rem;
    padding: 1px;
    border-radius: 2px;
    border:none;
    margin-top: 20px;
    
}
div{
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 1px;
   
}
   
.botoes{
  padding: 1%;
  right: 2px;
  left: 2px;
  justify-items: space-around;
}