* {

  margin: 0;
  padding: 0;
  font-family: sans-serif;
  padding-left: 2%;
  padding-right: 2%;
  flex-wrap: wrap;
  color:#333;
 
}

.card {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card-group{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.card input {
  width: 13rem;
  padding: 1px;
}
/*colocando o h1 lado a lado */
h1 {
  width: 1%;
  min-width: 200px;
  display: flex;
  border: 2px solid #333;
  
  flex-direction: column;
  
}
.info {
  display: flex;
  
}
.input {
  margin-left: 2px;
  display: flex;
  flex-direction: column;
}
.Create-Pet {
  
  display: flex;
  border: 2px solid #333;
  padding:  1px 1px 1px 2px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2px;
 

 
 
}

.Create-Pet button{
    width: 13rem;
    padding: 2px;
    border-radius: 2px;
    border:none;
    margin-top: 20px;
    
}
div{
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 1px;
   
}